---
import Chip from "@/components/common/chip.astro";
import Link from "@/components/common/link.astro";
import MainLayout from "@/layouts/main-layout.astro";
import Header from "@/components/section/header.astro";
import SocialMediaLinks from "@/components/section/social-media-links.astro";
import FadeIn from "@/components/common/fade-in.astro";
import GrayscaleChip from "@/components/common/grayscale-chip.astro";
---

<MainLayout
  title="Eudis - UX/UI Designer"
  description="I have a passion for creating intuitive and visually appealing digital experiences."
>
  <Header
    title="Im Eudis, a UX/UI designer from Venezuela"
    description="I have a passion for creating intuitive and visually appealing digital experiences."
  />

  <nav class="my-10">
    <ul class="space-y-5">
      <!-- <li>
        <FadeIn delay="300ms">
          <Link href="#" title="Text here"
            >Text Here <Chip label="New" /></Link
          >
        </FadeIn>
      </li> -->
      <li>
        <FadeIn delay="400ms">
          <Link href="/portfolio" title="My portfolio"
            >My portfolio <Chip label="New" /></Link
          >
        </FadeIn>
      </li>
      <li>
        <FadeIn delay="500ms">
          <Link href="mailto:eudis.vah@gmail.com" title="Contact me"
            >Contact me</Link
          >
        </FadeIn>
      </li>
      <li>
        <FadeIn delay="600ms">
          <Link
            >Design Agency <GrayscaleChip slot="right">
              Coming soon</GrayscaleChip
            ></Link
          >
        </FadeIn>
      </li>
    </ul>
  </nav>

  <FadeIn delay="700ms">
    <SocialMediaLinks />
  </FadeIn>
</MainLayout>
