---
import "@fontsource/inter";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body
    class="relative mx-auto min-h-dvh max-w-[21.0625rem] bg-black text-center font-inter text-lg font-medium tracking-tighter text-white"
  >
    <div
      class="absolute inset-0 top-0 m-auto flex min-h-dvh flex-col gap-40 pb-24 pt-[20dvh]"
    >
      <main>
        <slot />
      </main>

      <footer class="mt-auto text-xs tracking-wider text-zinc-400">
        © 2024 All Rights Reserved.
      </footer>
    </div>
  </body>
</html>
